body {
    font-family: Arial, sans-serif;
  }
  
  h2 {
    color: #333;
    margin-left: 40%;
    margin-top: -650px;
  }
  
  .header-container {
    display: flex;
    align-items: center;
  }
  
  .search-button {
    margin-top: 20px;
    margin-left: 10px;
    padding: 4px;
    height: 35px;
    background-color: #9ae89d;
    color: white;
    border: none;
    border-radius: 10%;
    cursor: pointer;
  }
  
  .search-button:hover {
    background-color: #45a049;
  }
  
  .search-bar {
    padding: 8px;
    margin-top: 20px;
    margin-left: 10px;
    font-size: 16px;
    width: 250px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .patient-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 50px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }
  
  .patient-table th,
  .patient-table td {
    padding: 12px 15px;
    text-align: center;
    border-bottom: 1px solid #ddd;
  }
  
  .patient-table th {
    background-color: #f4f4f4;
    font-weight: bold;
    color: #333;
  }
  
  .patient-table tbody tr:hover {
    background-color: #f5f5f5;
  }
  
  button.edit-button {
    background-color: transparent;
    color: #3498db;
    border: none;
    cursor: pointer;
  }
  
  button.edit-button:hover {
    background-color: #3498db;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 20%;
  }
  
  button.delete-button {
    background-color: transparent;
    color: red;
    border: none;
    cursor: pointer;
  }
  
  button.delete-button:hover {
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 20%;
  }
  button.view-button {
    background-color: transparent;
    color: grey;
    border: none;
    cursor: pointer;
  }
  
  button.view-button:hover {
    background-color: grey;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 20%;
  }
  
  button i {
    margin-right: 5px;
  }
  
  .register-button {
    display: flex;
    align-items: center;
    width: 150px;
    height: 35px;
    margin-top: 20px;
    margin-left: 63%;
    background-color: #C6D8FF;
    color: #818181;
    border: none;
    cursor: pointer;
  }
  
  .button-text {
    margin-left: 1px;
    font-size: 14px;
    width: 100px}
    
    .details-button {
      background-color: transparent; 
      color: grey;
      border: none; 
      text-align: center; 
      text-decoration: none;
      display: inline-block;
      font-size: 10px;
      margin-left: -8px;
      cursor: pointer; 
      width: 15px;
    }
    .details-container {
      height: 60px;
      padding: 10px; 
      margin-top: -10px; 
      margin-left: 140px;
      text-align: left; 
    }
    
    .details-container p {
      margin: 5px 0; 
    }
  