body {
  font-family: Arial, sans-serif;
}

h2 {
  color: #333;
  margin-left: 37%;
  margin-top: -650px;
}

.header-container {
  display: flex;
  align-items: center;
}

.search-button {
  margin-top: 20px;
  margin-left: 10px;
  padding: 4px;
  height: 35px;
  background-color: #9ae89d;
  color: white;
  border: none;
  border-radius: 10%;
  cursor: pointer;
}

.search-button:hover {
  background-color: #45a049;
}

.search-bar {
  padding: 8px;
  margin-top: 20px;
  margin-left: 75%;
  font-size: 16px;
  width: 250px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.ward-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 50px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.ward-table th,
.ward-table td {
  padding: 12px 15px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.ward-table th {
  background-color: #f4f4f4;
  font-weight: bold;
  color: #333;
}

.ward-table tbody tr:hover {
  background-color: #f5f5f5;
}

button.edit-button {
  background-color: transparent;
  color: #3498db;
  border: none;
  cursor: pointer;
}

button.edit-button:hover {
  background-color: #3498db;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 20%;
}

button.delete-button {
  background-color: transparent;
  color: red;
  border: none;
  cursor: pointer;
}

button.delete-button:hover {
  background-color: red;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 20%;
}

button.add-button {
  background-color: transparent;
  color: lightgreen;
  border: none;
  cursor: pointer;
}

button.add-button:hover {
  background-color: lightgreen;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 20%;
}

button i {
  margin-right: 5px;
}

#nurse:hover {
  cursor: pointer;
  color: blue;
}

.page-container.blur {
  filter: blur(5px);
}

.nurse-details {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 9999;
}

.close-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
