<body>
  <div class="registration-container">
    <h2>Employee Registration</h2>
    <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="firstName">First Name</label>
        <input type="text" id="firstName" formControlName="firstName" required>
      </div>
      <div class="form-group">
        <label for="lastName">Last Name</label>
        <input type="text" id="lastName" formControlName="lastName" required>
      </div>
      <div class="form-group">
        <label for="empId">Employee number/ID</label>
        <input type="text" id="empId" formControlName="empId" required>
      </div>
      <div class="form-group">
        <label for="Job">Job Title</label>
        <input type="text" id="job" formControlName="job" required>
      </div>
      <div class="form-group">
        <label for="telephoneNumber">Tel. Number</label>
        <input type="tel" id="telephoneNumber" formControlName="telephoneNumber" required>
      </div>
      <div class="form-group">
        <label for="Email">Email</label>
        <input type="text" id="Email" formControlName="Email" required>
      </div>
      <div class="form-group">
        <button type="submit" [disabled]="registrationForm.invalid">Register</button>
      </div>
    </form>
  </div>
</body>
