<div class="login-container">
    <h2>Login</h2>
  
    <div class="form-group">
      <label for="usernumb">User Identification:</label>
      <input type="text" id="usernumb" [(ngModel)]="userId" />
    </div>

    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" id="password" [(ngModel)]="password" />
    </div>
    <div class="d-flex justify-content-around">
      <button class="login-button" (click)="login()">Login</button>
      <button class="login-button" (click)="register()">Register</button>
    </div>
      <h2></h2>

  </div>
