<!-- src/app/register/register.component.html -->

<div class="container">
  <div class="register-container">
    <h2>Register</h2>
    <form [formGroup]="registrationForm">
      <div>
        <label for="email">Email:</label>
        <input type="email" id="email" formControlName="email" />
        <div *ngIf="registrationForm.get('email')!.hasError('email')">
          Please enter a valid email address.
        </div>
      </div>
      <div>
        <label for="password">Password:</label>
        <input type="password" id="password" formControlName="password" />
        <div *ngIf="registrationForm.get('password')?.hasError('minlength')">
          Password must be at least 6 characters long.
        </div>
      </div>
      <div>
        <button type="button" (click)="register()">Register</button>
      </div>
    </form>
  </div>
</div>
